html, body {
  font-size: 18px;
  font-family: Helvetica;
  border: 0;
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.parent-container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 960px;
  align-items: center;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

header span {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.66rem 0;
}

.hero-banner {
  height: 25rem;
  background-image: url("../../resources/images/moto.jpeg");
  background-size: cover;
}

.promo-text {
  width: 25rem;
  background-color: black;
  color: white;
  margin-top: 9rem;
}

.promo-text h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 3rem;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
}

.promo-text h4 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 3rem;
  margin-top: 2rem;

}

nav {
  width: 960px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

.mobile-menu {
  display: none;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.menu {
  padding: 0.75rem 0;
  background-color: firebrick;
  color: white;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  border: 4px solid black;
  margin: 3rem 0;
}

.product-image {
  display: flex;
  align-items: center;
  height: 9rem;
  margin: 2rem auto;
}

.product img {
  max-width: 9rem;
  max-height: 9rem;
}

.product span {
  background-color: black;
  color: white;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;

}

#product {
  justify-content: space-between;
}

.container-info {
  display: flex;
  /*flex-direction: column;*/
  width: 960px;
  margin: 0 auto;
  justify-content: space-between;
}

.info {
  width: 35%;
  padding-bottom: 4rem;
}

.info #title{
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
  display:block;
}

footer {
  background-color: black;
  color: white;
  height: 5rem;
}

@media only screen and (max-width: 1024px) {
  nav {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }

  .product{
    width: 47%;
  }

  .product.last
  {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .promo-text {
    width: 100%;
    margin-top: 10rem;
  }
  .promo-text h1 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .promo-text h4 {
    font-size: 0.77rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .container.mobile {
    align-items: flex-end;
  }

  .hero-banner {
    height: 15rem;
  }

  .product.middle
  {
    display: none;
  }

  .product{
    width: 90%;
  }

  #product {
    justify-content:center;
  }

  .container-info {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .info {
    width: 90%;
  }

  .container.footer {
    display: flex;
    justify-content: center;
  }

}
