html, body {
  font-size: 18px;
  font-family: Helvetica;
  border: 0;
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.parent-container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 960px;
  align-items: center;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

header span {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.66rem 0;
}

.hero-banner {
  height: 25rem;
  background-image: url("../../resources/images/moto.jpeg");
  background-size: cover;
}

.promo-text {
  width: 25rem;
  background-color: black;
  color: white;
  margin-top: 9rem;
}

.promo-text h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 3rem;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
}

.promo-text h4 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 3rem;
  margin-top: 2rem;

}
